@charset "UTF-8";
html {
  background: #ffc0cb;
}
body {
  margin: 0;
}
header {
  display: flex;
  justify-content: space-between;
}
header img {
  height: 50px;
  width: 50px;
  padding: 4px;
}
header summary {
  padding: 10px;
  display: inline-block;
}
header ul {
  width: 150px;
  right: 0;
  top: 58px;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  background: white;
  list-style: none;
}
header > * {
  align-content: center;
}
h1 {
  text-align: center;
  color: #800000;
}
img {
  width: 100%;
}
.img-shop {
  max-height: 200px;
  object-fit: cover;
}
section {
  margin: 0 10px;
}
.cakes {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.cake {
  width: calc(50% - 5px);
  box-sizing: border-box;
  
}
